body{
    margin: 0 auto;
    padding: 0;
}
.row{
    display: flex;
    justify-content: space-between;
}
.col-4{
    background-image: linear-gradient(#F5F7F8,#F4CE14,#495E57);
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px black;
    text-align: center;
    border-radius: 10px;
}
div div{
    transition: 1s;
}
div div:hover{
    transform: rotateZ(180deg);
}
img{
    width: 150px;
}